<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    
    <h1>Developer Skills</h1>
    <ul>
        <% skills.forEach(function(sk) { %>
            <li>
                <p><a href="/skills/<%= sk.id %>"><%= sk.skill %></a>
                - 
                Level: <%= sk.level %></p>
                <p>In progress: <%= sk.inProgress ? "Yes" : "No" %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>