<%- include("../partials/header") %>

    <form action="/skills" method="POST">
        <label>New skill</label>
        <input type="text" name="skill">
        <label>Skill level</label>
        <input type="text" name="level">
        <button type="submit">Save New Skill</button>
    </form>

<%- include("../partials/footer") %>