<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/skills">All Developer Skills</a> 
    </nav>
    
    <h2><%= skill.skill %></h2>
    <h2>Level: <%= skill.level %></h2>
    <h2>In Progress: <%= skill.inProgress ? "yes" : "no" %></h2>
</body>
</html>